body {
    font-family: 'Orbitron Bold';
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}


/* Header */

.header {
    font-family: 'Roboto';
    padding: 18px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 60px;
    height: 60px;
}

.nav {
    display: flex;
}

.nav__link {
    font-size: 16px;
    color: rgba(0, 0, 0, .6);
    /*padding: 10px 30px;*/
    margin-left: 50px;
    font-weight: 700;
}

.nav__link:hover {
    color: #FC6F41;
}

.burger {
    width: 30px;
    height: 30px;
    display: none;
}

.burger__icon {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Intro */

.intro {
    margin-top: 100px;
    padding: 20px 0;
}

.intro__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.title {
    font-size: 72px;
    color: #FC6F41;
    font-weight: bold;
}

.subtitle {
    font-size: 27px;
    color: #444444;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 65px;
    width: 100%;
}

/* Support Form */

.form__input {
    border-radius: 16px;
    border: 1px solid #444444;
    height: 51px;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-family: 'Roboto';
}

textarea {
    width: 377px;
    min-height: 110px;
    resize: none;
}

.form__button {
    border-radius: 16px;
    background: #FC6F41;
    color: #FFFFFF;
    height: 51px;
    width: 100%;
    padding: 16px;
    font-size: 16px;
    transition: box-shadow 0.2s ease;
}

.form__button:hover {
    box-shadow: 0px 12px 25px rgba(254, 113, 66, 0.3);
}

/* Adapive */

@media (max-width: 2560px) {
    .circle {
        right: 30%;
    }
}

@media (max-width: 1440px) {
    .circle {
        right: 20%;
        top: 180px;
    }
}


@media (max-width: 1024px) {
    .circle {
        right: 20%;
        top: 150px;
    }

    .card__col {
        width: 315px;
        height: 265px;
    }

    .card__subtitle {
        font-size: 12px;
    }
}


@media (max-width: 768px) {
    .nav {
        display: none;
    }
    
    .burger{
        display: block;
    }

    .circle {
        right: 130px;
        top: 180px;
        width: 200px;
        height: 200px;
    }

    .card__col {
        margin-bottom: 28px;
    }

    .card-1 {
        width: 345px;
    }

    .card-2 {
        width: 345px;
    }

    .card-3 {
        width: 100%;
    }

    .features__card {
        margin-bottom: 40px;
    }

}

@media (max-width: 425px) {

    .intro__inner {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }

    .intro__content {
        width: 100%;
    }

    .intro__photo {
        width: 100%;
    }

    .appstore {
        margin-left: 80px;
    }


    .title {
        font-size: 60px;
    }
    .subtitle {
        font-size: 22px;
    }

    .circle {
        top: 250px;
        right: 50px;
    }

    .card-1 {
        width: 100%;
    }

    .card-2 {
        width: 100%;
    }

    .card-3 {
        width: 100%;
    }

    .features__card {
        margin-bottom: 40px;
    }

    .footer__inner .appstore {
        margin-left: 0;
    }
}

